<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.besscroft.xanadu.mapper.StorageMapper">

    <resultMap id="storageMap" type="com.besscroft.xanadu.common.entity.Storage">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="storage_key" property="storageKey"/>
        <result column="type" property="type"/>
        <result column="enable" property="enable"/>
        <result column="default_status" property="defaultStatus"/>
        <result column="remark" property="remark"/>
        <result column="creator" property="creator"/>
        <result column="updater" property="updater"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del" property="del"/>
    </resultMap>

    <select id="selectPage" resultSets="java.util.List" resultMap="storageMap">
        SELECT
            id,
            name,
            storage_key,
            type,
            enable,
            default_status,
            remark,
            creator,
            updater,
            create_time,
            update_time,
            del
        FROM
            storage
        WHERE
            del = 1
        <if test="type != null">
            AND type = #{type}
        </if>
    </select>

    <select id="selectIdByDefault" resultType="java.lang.Long">
        SELECT
            id
        FROM
            storage
        WHERE
            del = 1
        AND
            enable = 1
        AND
            default_status = 1
    </select>

    <select id="selectByDefault" resultMap="storageMap">
        SELECT
            id,
            name,
            storage_key,
            type,
            enable,
            default_status,
            remark,
            creator,
            updater,
            create_time,
            update_time,
            del
        FROM
            storage
        WHERE
            del = 1
        AND
            enable = 1
        AND
            default_status = 1
    </select>

    <select id="selectIdByStorageKey" resultType="java.lang.Long">
        SELECT
            id
        FROM
            storage
        WHERE
            del = 1
        AND
            enable = 1
        AND
            storage_key = #{storageKey}
    </select>

</mapper>
